@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: Sacramento;
    src: url(fonts/Sacramento-Regular.ttf);
}

@font-face {
    font-family: Iosevka;
    src: url(fonts/Iosevka-Regular.woff2);
    font-weight: 100 600;
}

@font-face {
    font-family: Iosevka;
    src: url(fonts/Iosevka-Bold.woff2);
    font-weight: 700 900;
}
